
body {
    margin: 100px 200px;
    font-family: Arial;
}


.list-items {
    padding: 10px;
}

.lists {
    padding: 5px;
}

.container {
    display: flex;
}

.main-heading {
    line-height : 120%;
    font-size: 45px;
}

.intro-text {
    width: 75%;
}

.image{
    width: 350px;
}

@media only screen and (max-width: 600px) {
    body {
    margin: 20px 10px;
    }

    .container {
        flex-flow: column-reverse;
    }

    .main-heading {
        line-height: 120%;
        font-size: 27px;
    }
    .image {
        width: 300px;
    }
    .intro-text {
        width: 100%;
    }
}