
body {
    /* background: red; */
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
*/
    margin: 100px 200px;
    /* color: red; */
    font-family: Arial;
}

/* ul li {
    color: red;
} */

.list-items {
    /* color: red; */
    padding: 10px;
}

.lists {
    padding: 5px;
}